@media (min-width: 800px) {
    /*Header styles*/
    .header {
        padding: 0 6rem;
        list-style: none;
    }
    header .mode-nav {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    header .menu-nav-icon{
        display: none;
    }
    nav {
        display: inline-block;
    }
}